<h1>Terrorist Attacks by Year and Country</h1>
<h2>Make a selection</h2>
<% @counter = 1 %>
<form class="data-selection" id="country-1">
  <%= render "static_pages/form_contents" %>
</form>

<form class="data-selection" id="country-2">
  <%= render "static_pages/form_contents" %>
</form>

<form class="data-selection" id="country-3">
  <%= render "static_pages/form_contents" %>
</form>

<div id="months-chart"></div>
<div id="attacks-chart"></div>
<div class="container">
  <div class="suicides-chart" id="chart-1"></div>
  <div class="suicides-chart" id="chart-2"></div>
  <div class="suicides-chart" id="chart-3"></div>
</div>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.FormParser('months-chart', 'attacks-chart', 'chart-1', 'chart-2', 'chart-3');
    formParser.handleSubmit();
  })
</script>
