
<h2>Make a selection</h2>
<form class="data-selection">
  <label>
    Country
    <select name="country" id="country">
      <% @countries.each do |country| %>
        <option value="<%=country%>"><%=country%></option>
      <% end %>
    </input>
  </select>
  <label>
    Year
    <select name="year" id="year">
      <% @years.each do |year| %>
        <option value="<%=year%>"><%=year%></option>
      <% end %>
    </input>
  </select>
  <input type="submit" value="Submit"/>
</form>
<div id="month-chart" style="width:400px; height:400px;"></div>
<div id="attacks-chart" style="width:400px; height:400px;"></div>
<div id="suicides-chart" style="width:400px; height:400px;"></div>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.FormParser($('#month-chart'), $('#attacks-chart'), $('#suicides-chart'));
    // var monthsChart = new window.Display.MonthsChart($('#month-chart'));
    formParser.handleSubmit();
  })
</script>
