
<h2>Make a selection</h2>
<form class="data-selection">
  <label>
    Country
    <select name="country" id="country">
      <% @countries.each do |country| %>
        <option value="<%=country%>"><%=country%></option>
      <% end %>
    </input>
  </select>
  <label>
    Year
    <select name="year" id="year">
      <% @years.each do |year| %>
        <option value="<%=year%>"><%=year%></option>
      <% end %>
    </input>
  </select>
  <input type="submit" value="Submit"/>
</form>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.formParser();
    formParser.handleSubmit();
  })
</script>
