
<h2>Make a selection</h2>
<form class="data-selection">
  <label>
    Country
    <select name="country" id="country">
      <% @countries.each do |country| %>
        <option value="<%=country%>"><%=country%></option>
      <% end %>
    </input>
  </select>
  <label>
    Year
    <select name="year" id="year">
      <% @years.each do |year| %>
        <option value="<%=year%>"><%=year%></option>
      <% end %>
    </input>
  </select>
  <input type="submit" value="Submit"/>
</form>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.formParser();
    formParser.handleSubmit();
  })
</script>
<div id="container" style="width:400px; height:400px;"></div>
<script type='text/javascript'>
  $(function () { 
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
  });
</script>
