<h2>Make a selection</h2>
<form>
  <label>
    Country
    <input type="option" name="country">
    </input>
  </label>
  <label>
    Year
    <input type="option" name="year">
    </input>
  </label>
  <input type="submit" value="Submit"/>
</form>
