<h1>Terrorist Attacks by Year and Country</h1>
<h2>Make a selection</h2>
<% @counter = 1 %>
<form class="data-selection" id="country-1">
  <%= render "static_pages/form_contents" %>
</form>

<form class="data-selection" id="country-2">
  <%= render "static_pages/form_contents" %>
</form>

<form class="data-selection" id="country-3">
  <%= render "static_pages/form_contents" %>
</form>
<div id="month-chart" style="width:400px; height:400px;"></div>
<div id="attacks-chart" style="width:400px; height:400px;"></div>
<div id="suicides-chart" style="width:400px; height:400px;"></div>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.FormParser('month-chart', $('#attacks-chart'), $('#suicides-chart'));
    formParser.handleSubmit();
  })
</script>
