
<h2>Make a selection</h2>
<form class="data-selection">
  <label>
    Country
    <select name="country" id="country">
      <% @countries.each do |country| %>
        <option value="<%=country%>"><%=country%></option>
      <% end %>
    </input>
  </select>
  <label>
    Year
    <select name="year" id="year">
      <% @years.each do |year| %>
        <option value="<%=year%>"><%=year%></option>
      <% end %>
    </input>
  </select>
  <input type="submit" value="Submit"/>
</form>
<script type="text/javascript">
  $(function () {
    var formParser = new window.Display.formParser();
    formParser.handleSubmit();
  })
</script>
<div id="month-chart" style="width:400px; height:400px;"></div>
<script type='text/javascript'>
  $(function () {
    $('#month-chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Attacks per month'
        },
        xAxis: {
            categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        },
        yAxis: {
            title: {
                text: 'Number of attacks'
            }
        },
        series: [{
            name: 'Attacks',
            data: [1,2,3,4,5,6,7,8,9,10,11,12]
        }]
    });
  });
</script>
