<!DOCTYPE html>
<html>
<head>
  <title>Terrorist Attacks by Year and Country</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p>View code on <a href="" target="_blank">Github</a></p>
<p>Data from the National Consortium for the Study of Terrorism and Responses to Terrorism (START). (2014). Global Terrorism Database [Data file]. Retrieved from <a href="http://www.start.umd.edu/gtd" target="_blank">http://www.start.umd.edu/gtd</a>.</p>
</body>
</html>
